body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box !important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.navbar {
  background-color: rgb(17, 71, 116) !important;
  padding-left: 10rem;
}
.navbar-nav {
  margin-left: auto;
  padding-right: 10rem;
}
.nav-link {
  color: white !important;
}
.navbar-brand {
  color: white !important;
  font-size: 1.5rem !important;
}
.topnotch {
  color: rgb(173, 205, 254) !important;
  font-weight: 600 !important;
}
.banner-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100vh;
  margin-top: -3rem !important;
}
.banner-desc {
  width: 50%;
  text-align: left;
  padding-left: 7.5rem;
}
.banner-desc h1 {
  padding: 2rem 0;
  color: rgb(17, 71, 116);
  font-size: 5rem !important;
}
.banner-desc p {
  font-size: 1.5rem !important;
  margin-bottom: 3rem;
}
.banner-img {
  width: 45%;
}
.banner-img img {
  width: 100%;
}
.btn-price {
  width: 8rem;
  height: auto;
  border: none;
  background-color: rgb(17, 71, 116);
  color: white;
}
.btn-price:hover {
  background-color: rgb(162, 24, 0);
  color: white;
}
.btn-shopnow {
  width: 14rem;
  height: 3rem;
  border: none;
  background-color: rgb(162, 24, 0);
  border-radius: 3rem;
  color: white;
  font-size: 1.5rem;
}
.btn-shopnow:hover {
  background-color: rgb(17, 71, 116);
}
h1 {
  font-size: 1.125rem !important;
  text-align: left !important;
}
.img-fluid {
  height: 12.5rem !important;
}
.row {
  margin-right: 0 !important;
}
.bigimg {
  /* height: 18.75rem !important; */
  height: auto !important;
}
a {
  text-decoration: none !important;
  color: rgb(17, 71, 116) !important;
}
p {
  text-align: left;
}
.select {
  text-align: left;
  display: flex;
}
.cart {
  background-color: rgb(17, 71, 116) !important;
  color: white !important;
  font-weight: bold !important;
  text-align: left !important;
  display: flex !important;
}
.cart:hover {
  background-color: white !important;
  border: rgb(17, 71, 116) solid 0.05rem !important;
  color: rgb(17, 71, 116) !important;
}
.footer {
  background-color: rgb(17, 71, 116);
  height: 5rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

@media (orientation: portrait)  {
  .banner-container {
    flex-direction: column;
    padding-top: 4rem;
    display: block;
    position: relative;
  }
  .banner-desc {
    width: 100% !important;
    text-align: center;
    padding: 0;
  }
  .banner-img {
    width: 100% !important;
    margin: 3rem 0 8rem 0;
  }
  .banner-img img {
    width: 60%;
    height: auto;
  }
  .banner-desc h1 {
    font-size: 3rem !important;
    text-align: center !important;
  }
  .banner-desc p {
    text-align: center !important;
  }
}

/* @media only screen and (max-width: 600px) {
  .banner-img {
    margin-bottom: 0 !important;
  }
  .banner-container {
    margin-top: -4rem !important;
  }
} */
